.Sidebarrow{
display: flex;
align-items: center;
padding: 10px 20px;
}
.Sidebarrow_icon{
    color: #606060;
    font-size: large !important;
}
.Sidebarrow_title{
    flex:1;
    margin-left: 20px;
    font-size: 12px;
    font-weight: 500px;
}
.Sidebarrow:hover{
    background-color: lightgray;
    cursor:pointer
}
.Sidebarrow:hover>.Sidebarrow_icon{
    color: red;
}
.Sidebarrow:hover>.Sidebarrow_title{
    font-weight: bold;
}
.Sidebarrow.Selected{
    background-color: lightgray;
}
.Sidebarrow.Selected>.Sidebarrow_icon{
    color: red;
}
.Sidebarrow.Selected>.Sidebarrow_title{
    font-weight: bold;
}